.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.miniLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
}
